Open Data Science

Задание: проанализировать отĸрытый массив данных на свой выбор. Датасеты
исĸать, например, тут: https://toolbox.google.com/datasetsearch,
http://data.gov.ru/opendata, https://github.com/caesar0301/awesome-public-datasets,
https://www.forbes.com/sites/bernardmarr/2016/02/12/big-data-35-brilliant-and-free-data-sources-for-2016/#4cc5e370b54d
Цель задания: на праĸтиĸе познаĸомиться с pandas, попробовать поработать с
"реальными" данными и потренироваться в представлении результатов своих
исследований.
Критерии успеха: задание опционально, ĸритерием успеха является
проанализированный (с использованием jypiter notebook, pandas и т.п.) ĸаĸим угодно образом массив данных, заинтересовавший студента. Далее успешность
определяется review.

Для анализа взята мировая статистика по рождаемости.
Источник: https://www.kaggle.com/datasets/saadaziz1985/population-collapse/?select=country_groups_all.csv

Файлы из источника находятся в рамках папки data.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./data/all_indicators.csv', encoding='utf-8')

Выведем первые записи из файла all_indicators.csv

In [4]:
data.head()

,economy,Pop-YR2002,Pop-YR2021,Pop%,Life-YR2002,Life-YR2021,Life%,Fer-YR2002,Fer-YR2021,Fer%,...,Death-YR2021,Death%,Birth-YR2002,Birth-YR2021,Birth%,Med_Age-YR2002,Med_Age-YR2021,Med%,Pop_Gro-YR2002,Pop_Gro-YR2021
0,ABW,91781,106537,0.160774,73.726000,74.626000,0.012207,1.763000,1.180000,-0.330686,...,11.235000,0.750000,12.992000,7.193000,-0.446352,33.9,41.2,0.215339,1.194718,-0.045045
1,AFE,422741118,702977106,0.662902,52.540794,62.454590,0.188688,5.430475,4.354709,-0.198098,...,8.036899,-0.396157,40.047325,33.546266,-0.162334,NaN,NaN,NaN,2.606598,2.607472
2,AFG,21000256,40099462,0.909475,56.454000,61.982000,0.097920,7.339000,4.643000,-0.367353,...,7.344000,-0.348936,48.201000,35.842000,-0.256405,14.0,16.7,0.192857,6.449321,2.851358
3,AFW,284952322,478185907,0.678126,50.927848,56.988657,0.119008,5.967267,4.978662,-0.165671,...,10.678952,-0.288397,42.927121,36.237034,-0.155848,NaN,NaN,NaN,2.811453,2.573377
4,AGO,17516139,34503774,0.969828,47.386000,61.643000,0.300869,6.567000,5.304000,-0.192325,...,8.009000,-0.536382,47.448000,38.809000,-0.182073,15.7,16.2,0.031847,3.335132,3.166030

Выведем последние записи из файла all_indicators.csv

In [5]:
data.tail()

,economy,Pop-YR2002,Pop-YR2021,Pop%,Life-YR2002,Life-YR2021,Life%,Fer-YR2002,Fer-YR2021,Fer%,...,Death-YR2021,Death%,Birth-YR2002,Birth-YR2021,Birth%,Med_Age-YR2002,Med_Age-YR2021,Med%,Pop_Gro-YR2002,Pop_Gro-YR2021
261,XKX,1702310,1786038,0.049185,74.676,76.806,0.028523,2.533,1.522,-0.399131,...,7.220,0.439968,16.858,11.143,-0.339008,21.5,30.5,0.418605,0.067931,-0.229016
262,YEM,19660653,32981641,0.677546,63.906,63.753,-0.002394,5.937,3.795,-0.360788,...,6.845,-0.049702,38.654,30.544,-0.209810,14.6,18.7,0.280822,2.665834,2.137790
263,ZAF,47661514,59392255,0.246126,55.666,62.341,0.119912,2.324,2.374,0.021515,...,11.432,-0.029871,20.040,19.821,-0.010928,21.5,27.1,0.260465,0.910101,0.998920
264,ZMB,10508294,19473125,0.853120,46.979,61.223,0.303199,5.792,4.308,-0.256215,...,6.973,-0.544010,44.746,34.511,-0.228736,14.8,16.9,0.141892,3.056528,2.840806
265,ZWE,11984644,15993524,0.334501,44.565,59.253,0.329586,3.887,3.491,-0.101878,...,9.057,-0.465758,35.924,30.537,-0.149955,17.1,18.1,0.058480,0.616567,2.045715

Покажем размер таблицы

In [6]:
data.shape

(266, 21)